{% extends "main/base.html" %}
{% load bootstrap5 %}
{% block breadcrumbs %}
    <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url "recipe_list" %}">Recipes</a></li>
                    <li class="breadcrumb-item active">New Recipe</li>
                </ol> -->
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <h2 class="text-center">Survey Completed!</h2>
    <div class="d-flex justify-content-center">
        <div class="card col-8">
            <div class="card-title px-2">
                Affirmation (read to cat)
            </div>
            <div class="card-body px-2">
                <div class="border-start border-2 px-1">
                    <p class="blockquote">"{{ affirmation.strip }}"</p>
                    <p class="blockquote-footer">You, {% now "M jS, o \a\t h:i A" %}</p>
                </div>
            </div>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <img class="mycatimg card-img-bottom m-2 rounded" style="max-height: 400px; width: auto"
                 src="https://cataas.com/cat/kitten?gif=false">
        </div>
    </div>
    <div class="d-flex">
        <span class="card-subtitle">Test</span>
    </div>

    <script>
        $('.mycatimg').on('load', function () {
            $('.spinner-border').css('display', 'none');
        });
    </script>
{% endblock %}